---
title: Le Wagon - Middleman
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Middleman LeWagon Exercise</title>
</head>
<body>
  <%= partial "layouts/banner.html" %>

  <div class="container text-center">
    <div class="header">
      <h3><strong>Recent Flats</strong></h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= partial "layouts/cards.html" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= partial "layouts/cards.html" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= partial "layouts/cards.html" %>
      </div>
    </div>
  </div>



</body>

</html>








